body {
  background-image: url("https://freenaturestock.com/wp-content/uploads/freenaturestock-1297-1024x1536.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  font-family: Roboto, sans-serif;
}

.container {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(90, 92, 106) 0%,
    rgb(38, 53, 68) 81.3%
  );
  margin: 42px auto;
  padding: 30px;
  width: 600px;
  border-radius: 14px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.search-form {
  border: none;
  font-size: 16px;
  background-color: #f9f7fe;
  width: 74%;
  padding: 14px 20px;
  border-radius: 6px;
}
.search-button {
  border: none;
  font-size: 16px;
  color: white;
  background-color: #885df1;
  padding: 12px 26px;
  border-radius: 6px;
}
header {
  border-bottom: 1px solid #827f89;
  padding: 0 0 30px 0;
}
main {
  padding: 30px 0;
}

.data {
  display: flex;
  justify-content: space-between;
}
.city {
  color: #f9f7fe;
  line-height: 34px;
  font-size: 38px;
}

.temperature {
  color: #f9f7fe;
  font-size: 80px;
  font-weight: bold;
  line-height: 88px;
}
.unit {
  color: #f9f7fe;
  margin-top: 8px;
  font-size: 26px;
}
.degree {
  display: inline-flex;
}

.details {
  color: rgba(247, 226, 255, 0.4);
  font-weight: bold;
}
.details strong {
  color: #f65282;
}
.weather-app-icon {
  width: 96px;
}

a {
  color: #885df1;
}
footer {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  text-align: center;
  border-top: 1px solid #827f89;
  padding: 30px 0 0 0;
}
